<div class="card">
    <div class="card-body"></div>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quas! Nemo quaerat rerum ipsam illum. Consequuntur praesentium nesciunt enim illum? Voluptas aliquam provident numquam beatae laboriosam corrupti perspiciatis, magni corporis explicabo unde, esse perferendis rem porro reprehenderit officiis nam! Nostrum!</p>
</div>